body {
 font-family: 'Times New Roman', Times, serif;
 background-color: #677d85;
}
h1 {
 color: blue;
}
p {
 font-size: 18px;
}

h1 {
    color: white;
    font-family: "Papyrus MS", "Papyrus", cursive;
}
.other {
    background-color: #af0022;
    padding: 10px;
}
.header {
    text-decoration: none;
}
.button {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    background-color: #af0022;
}
th:hover {
    background-color: #95000a;
    animation: antirotation 0.000001s infinite linear;
}
.squirtle{
    animation: rotation 900s infinite linear;
}
.Main-page {
    float: right;
    color: white;
    text-decoration: none;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: #af0022;
    padding: 10px;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
@keyframes antirotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-359deg);
    }
}