body {
 background-color: #677d85;
}
.container{
    display: grid;
    background-color: black;
    grid-template-columns: auto auto auto auto;
    gap: 1px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}
h1 {
 color: white;
 text-align: center;
}
p {
 font-size: 18px;
 color: white;
}

.button {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 12pt;
    font-family: sans-serif;
    font-weight: bold;
    background-color: #af0022;
    text-align: center;
}
a{
    text-decoration: none;
}
a.button:hover {
    background-color: #95000a;
    animation: rotation .5s infinite linear;
}
.squirtle{
    padding-top: 7%;
    display: block;
    margin: auto;
    width: 15%;
    animation: rotation 900s infinite linear;
}

@media screen and (max-width: 800px){
    .container{
    display: grid;
    background-color: black;
    grid-template-columns: auto auto;
    gap: 1px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}
img {
    width: 50%;
}
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
